<tr class="{CSS_ROW}">
	<!-- BEGIN PARTICIPANT_NAME -->
	<td class="std small">
		{PARTICIPANT_NAME}
	</td>
	<!-- END PARTICIPANT_NAME -->
	<!-- BEGIN USR_NAME -->
	<td class="std small">
		{USR_NAME}
	</td>
	<!-- END USR_NAME -->
	<!-- BEGIN LEARNING_PROGRESS -->
	<td class="std">
		<img alt="{LP_STATUS_ALT}" src="{LP_STATUS_PATH}" title="{LP_STATUS_ALT}"/> {LP_STATUS_ALT}
	</td>
	<!-- END LEARNING_PROGRESS -->
	<!-- BEGIN CREATED -->
	<td class="std small">
		{CREATED}
	</td>
	<!-- END CREATED -->
	<!-- BEGIN LAST_ACCESS -->
	<td class="std small">
		{LAST_ACCESS}
	</td>
	<!-- END LAST_ACCESS -->
	<td class="std small">
		{ACTIONS}
	</td>
</tr>
